<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= lang.Title %></title>
	<style type="text/css">
		html,body{
			border: 0px;
			margin: 0px;
			background-color: #2d2d2d;
		}
		#left{
			float:left;
			width: 100%;
		}
		#right{
		}
		.info{
			width: 152px;
			float: left;
			padding: 25px;
		}
		.bigtitle{

		}
		.bg{
			width: 152px;
			height: 152px;
		}
		.title{
			font-size: 14px;
			width: 143px;
			text-align: center;
			position: relative;
			top: -10px;
			color: white;
		}
		.overflow{
			white-space: nowrap;
			overflow: hidden;
			-ms-text-overflow: ellipsis;
			-o-text-overflow: ellipsis;
			text-overflow: ellipsis;
		}
		#onweekly{
			float: left;
		}
		#footer{
			text-align: center;
			float: left;
			width: 100%;
			color: white;
		}
		.context{
			padding: 35px;
		}
		.noto{
			font-family: Noto Sans CJK TC Light;
			font-weight: 300;
		}
		.os{
			font-family: Open Sans;
			font-weight: 300;
		}
		.w{
			color: white;
		}
		.b{
			font-size: 36px;
		}
		input{
			font-size: 18px;
			width: 85%;
			box-shadow: 2px 1px 4px #646464;
			outline: none;
			height: 12px;
			border: 5px solid white;
		    padding: 15px;
		    margin: 0 0 10px 0;
		}
		input[placeholder], [placeholder], *[placeholder] {
		   color:#999999 !important;
		}
		#onweekly h2{
			color:#718FFF;
		}
		#onold h2{
			color: #00B9F5;
		}
		a:link {
	    	color: white;
	    	text-decoration: none;
		}

		/* visited link */
		a:visited {
		    color: white;
		    text-decoration: none;
		}

		/* mouse over link */
		a:hover {
		    color: white;
		    text-decoration: underline;
		}

		/* selected link */
		a:active {
		    color: white;
		    text-decoration: none;
		}

		#search{
			display: none;
			position: relative;
			border: 1px solid #ccc;
			width: 85%;
			bottom: 10px;
			background-color: white;
			border-top-color: #d9d9d9;
			box-shadow: 0 2px 4px rgba(0,0,0,0.2);
			-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
			cursor: default;
		}
		#search-ul{
			list-style: none;
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		#search-ul li{
			list-style: none;
			font-size: 17px;
			line-height: 35px;
			padding: 20px;
		}
		#search-ul li:hover{
			background-color: #EEEEEE;

		}
		</style>
</head>
<body onclick="">
<div id="left">
	<div class="context">
		<div id="header">
			<h1 class="os w b"><%= lang.Title %></h1>
			<input type="text" class="noto" id="i_s" onkeypress="" onkeyup="search()" placeholder="<%= lang.Search %>...">
			<div id="search">
				<ul id="search-ul" class="noto">
					<li onclick="Target(event)">Find Not Thing</li>
				</ul>
			</div>
		</div>
		<div id="onweekly">
			<h2 class="bigtitle noto"><%= lang.ThisSeason %> (<%= WhatSeason %>)</h2>
			<% for(var i=0;i<ThisWeek.length;i++) { %>
			<div class="info">
				<div class="bg" style="
			background:url(<%= ThisWeek[i].bgp %>) no-repeat;
			background-size:152px;"></div>
				<h3 class="title overflow noto"><a title="<%= ThisWeek[i].name %>" href="<%= ThisWeek[i].url %>"><%= ThisWeek[i].name %></a></h3>
			</div>
			<% } %>
		</div>
		<div id="onold">
			<h2 class="bigtitle noto"><%= lang.Old %></h2>
			<% for(var i = 0;i<Old.length;i++){ %>
			<div class="info">
				<div class="bg" style="
			background:url(<%= Old[i].bgp %>) no-repeat;
			background-size:152px;"></div>
				<h3 class="title overflow noto"><a title="<%= Old[i].name %>" href="<%= Old[i].url %>"><%= Old[i].name %></a></h3>
			</div>
			<% } %>
		</div>
		<!--<div id="footer"><h3 class="noto"><a href="#">更多以前的動畫 (10)</a></h3></div>-->
	</div>
</div>
<a href="https://github.com/hpcslag/AnimeWebPlayer"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
<script type="text/javascript">
	function Target(e){
		document.location.href= e.target.innerHTML;
	}
	function search(){
		document.getElementById('search').style.display = 'block';
		var result = loadXMLDoc(document.getElementById('i_s').value);
		if(result[0] == false){
			document.getElementById('search-ul').innerHTML = '<li>'+result[1]+'</li>'
		}else{
			var html = '';
			for(var i = 0;i<result.length;i++){
				html += "<li onclick='Target(event)'>"+result[i]+"</li>";
			}
			document.getElementById('search-ul').innerHTML = html;
		}
	}
	function mouseover(){
		document.getElementById('search').style.display = 'none';
	}
	function loadXMLDoc(keyword){
		var xmlhttp = null;
		if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
		  xmlhttp=new XMLHttpRequest();
		}
		else{// code for IE6, IE5
		  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}
		xmlhttp.onreadystatechange=function(){
		  if (xmlhttp.readyState==4 && xmlhttp.status==200){
		    return xmlhttp.responseText;
		  }
		}
		xmlhttp.open("GET","./search/"+keyword,false);
		xmlhttp.send(null);
        return JSON.parse(xmlhttp.responseText);
	}
</script>
</body>
</html>