<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= name %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
	<style type="text/css">
	html:before{ 
	  background: linear-gradient(
      rgba(102, 102, 102, 0.3), 
      rgba(102, 102, 102, 0.3)
    ),url(<%= bgp %>) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  z-index: -1;
	  content: "";
      position: fixed;
      height: 100%; width: 100%; /* Using Glen Maddern's trick /via @mente */
	  -webkit-filter: blur(10px); /* Chrome, Opera */
      -moz-filter: blur(10px);
      -ms-filter: blur(10px);    
      filter: blur(10px);
      transform: scale(1);
	  transform-origin: top left;
	}
	body:before{
		content: "";
	}
	a:link {
    	color: white;
    	text-decoration: none;
	}

	/* visited link */
	a:visited {
	    color: white;
	    text-decoration: none;
	}

	/* mouse over link */
	a:hover {
	    color: white;
	    text-decoration: underline;
	}

	/* selected link */
	a:active {
	    color: white;
	    text-decoration: none;
	}
	#anime{
		background: rgba(0,0,0,0.7);
		margin: 0px auto;
		width: 50%;
		margin-top: 60px;
		padding: 15px;
		line-height: 1.9em;
		border-radius: 15px;
		margin-bottom: 60px;
	}
	li{
		list-style-type: none;
		color: #999999;
	}
	li:first-child{
		color: white;
	}
	#content{
		margin: 0px auto;
		width: 70%;
		text-align: center;
		padding: 25px;
	}
	#ABackground{
		display: inline-block;
	}
	#title{
		font-size: 36px;
	}
	.white{
		color: white;
	}
	#time{
		font-size: 18px;
	}
	.shadow{
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	}
	.shadow_v2{
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	}
	.shadow_v3{
		box-shadow: 0px 0px 10px #000000;
	}
	.noto{
		font-family: Noto Sans CJK TC Light;
	}
	.big{
		font-size: 20px;
	}
	@media screen and (max-width: 820px) {
    	.big{
			font-size: 18px;
		}
		#anime{
			padding: 35px;
		}
    }
    @media screen and (max-width: 560px) {
    	.big{
			font-size: 18px;
		}
		#anime{
			width: 100%;
			border-radius: 0px;
			padding: 0px;
			position: absolute;
			left: 0;
			margin-top: 30px;
			padding-top: 25px;
			padding-bottom: 25px;
		}
		#title {
			font-size: 20px;
		}
		#time{
			font-size: 15px;
		}

    }
	</style>
</head>
<body>
<div class="white shadow noto big"><a href="/">← <%= lang.Back %></a></div>
<div id="content">
	<div id="ABackground" class="shadow_v3" style="width:200px;height:200px;background:url(<%= bgp %>) no-repeat;background-size:200px;"></div>
	<div id="title" class="white shadow_v2 noto"><%= name %></div>
	<div id="time" class="white shadow noto"><!--時間不確定--></div>
	<ul id="anime" class="noto big">
		<% for(var i = number.length-1;i>=0;i--){ %>
		<li><%= name %> (<%= number[i] %>)</li>
		<% } %>
	</ul>
</div>

</body>
</html>